<div class="row">
    <div class="input-field col s3">
        <%= text_field_tag(:transitions) %>
        <label for="current_state">Current State</label>
    </div>
    <div class="input-field col s3">
        <%= text_field_tag(:transitions) %>
        <label for="symbol">Symbol</label>
    </div>
    <div class="input-field col s4">
        <%= text_field_tag(:transitions) %>
        <label for="destination">Destination</label>
    </div>
    <div class="input-field col s2">
        <a href="#" class="remove-row" onclick="removeRow($(this))"><i class="material-icons deep-purple-text text-darken-1">delete</i></a>
    </div>
</div>