@import "materialize/components/color";
$primary-color: color("deep-purple", "darken-1") !default;
@import 'materialize';

#cy {
    width: 100%;
    height: 30em;
    display: block;
}

.logo{
  margin-top: 5px!important;
  height: 1.7em;
}

i {
    padding-top: 0.6em;
    color: #5e35b1;
}

nav .brand-logo {
    padding-left: 1em;
}

h5 {
    color: #5e35b1;
    font-size: 1.3em;
}

 /* label color */
.input-field label {
    color: #5e35b1;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #5e35b1;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #5e35b1;
    box-shadow: 0 1px 0 0 #5e35b1;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #5e35b1;
    box-shadow: 0 1px 0 0 #5e35b1;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #5e35b1;
}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('material.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.logo{
  margin-top: 3px;
}