<!DOCTYPE html>
<html>
<head>
  <title>Automatas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/dfa">DFA</a></li>
        <li><a href="/pda">PDA</a></li>
        <li><a href="/tm">Turing Machine</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
